:root {
	--theme-primary: #587ef8;

	--text-dark: #222;
	--text-light: #f7f7f7;
	--box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
	--box-shadow-top: 0px -10px 15px -3px rgba(0, 0, 0, 0.1);
	--error: #ff4136;
	--success: #2ecc40;
}
